.bd-black {
  border: 1px solid black;
}

.time-text {
  font-size: 12px;
}

.profile-icon {
  width: 25px;
  padding-right: 10px;
}

.profile-text {
  font-size: 12px;
  color: black;
}

.dropdown-menu {
  top: 150% !important;
  left: -40% !important;
  font-size: 12px !important;
  font-family: "Open Sans", sans-serif !important;
}
